@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@layer base {
  body {
    background-image: url('./Background.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
}
